:root {
    --light-violet: #AD1FEA;
    --primary-blue: #4661E6;
    --dark-blue: #373F68;

    /* Radius */
    --br-radius: 10px;

    /* Typography */
    --h1-size: 24px;
    --h2-size: 20px;
    --h3-size: 18px;
    --h4-size: 14px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F7F8FD;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

button {
    cursor: pointer;
}